h1{
    text-align: center;
    font-family: cursive;
}
h2{
    text-align: center;
    font-family: cursive;
}
p{
    text-align: center;
    font-family: cursive;
}
.i{
    float: left;
    width: 102%;
}