table{
    border: 1px solid black;
    border-collapse: collapse;
    background-color:black;
    color: white;
    text-align: center;
    padding-left: 30px;
    margin-top: 15px;
    font-family: cursive;
    width: 100%;
}
table td{
    border:1px solid white;
    text-align: center;
}
th{
    background-color: red;
}
h1{
    text-align: center;
    font-family: cursive;
}
#a{
    margin-left: 45%;
    padding-left: 8px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    height: 35px;
    width: 177px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}
#add{
    margin-left: 8px;
    margin-top: 5px;
    width: 32px;
    height: 30px;
}
#del{
    width: 50px;
    height: 50px;
}
#car{
    width: 80%;
}

#model{
    width: 20%;
}
#year{
width: 20%;
}
#class{
width: 20%;
}
button{
    margin-left: 40%;
}
a {
    margin-left: 40%;
    color: black;
    text-decoration: none;
    display: block;
    width: 20%;
    text-align: center;
    font-family: cursive;
}
