img{
    width: 350px;
    height: 350px;
    margin-left: 35%;
}
h1{
    margin-left: 40%;
    font-family: cursive;
}
input[type=text]{
    margin-left: 39%;
    margin-top: 2.5%;
    height: 30px;
    font-family: cursive;
   background-color: bisque;
   font-size: 20px;
}
input[type=password]{
    margin-left: 39%;
    height: 30px;
    font-family: cursive;
   background-color: bisque;
   font-size: 20px;
}
button{
    margin-left: 42.5%;
    margin-top: 1%;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: goldenrod;
    font-family: cursive;
}
#btn{
    margin-left: 42.5%;
    margin-top: 1%;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: lightgreen;
    font-family: cursive
}

