img{
    width: 350px;
    height: 350px;
    margin-left: 35%;
}
h1{
    margin-left: 37%;
    font-family: cursive;
}
label {
    font-family: cursive;
    margin-left: 35%;
}
#Fname{
    margin-left: 80px;
    margin-top: 2%;
    height: 20px;
    background-color: bisque;
}
#Uname{
        margin-left: 85px;
        height: 20px;
        background-color: bisque;
}
input[type=email]{
    margin-left: 110px;
    height: 20px;
    background-color: bisque;
}
input[type=password]{
    margin-left: 90px;
    height: 20px;
    background-color: bisque;
}
button{
        margin-left: 41.5%;
        margin-top: 3%;
        height: 40px;
        border-radius: 10px;
        background-color: goldenrod;
        font-family: cursive;
    }
