.section{
    position: absolute;  
    top:0;
    right:0;
    left:0;
    word-spacing:130px;
    background-color:black;
    height: 38px;
    padding-bottom: 10%;
        }
img{                    
    float: left;
    height: 180px;
    width: 180px;
   }
.sp{                     
    padding-top: 70px;
    padding-left:520px;
    font-family: cursive;
   }
   .sp :hover{
       background-color: red;
   }
a{                
    color: white;      
    font-size: 28px;
    text-decoration: none;
 }
.i{
    margin-top: 1%;
    height:100%;
    width: 100%;      
    }
marquee{
       font-family: cursive;
       color: white;
    }



